.main-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
}
.main-info{
    font-weight: bold;
    margin: 0.5em;
}
.main-img{
    margin: 0.5em;
}